In [1]:
import numpy as np
import pandas as pd

In [ ]:
"""
DataFrame.merge(left, right, 
                how='inner',
                on=None,
                left_on=None,
                right_on=None,
                sort=False,
                suffixes=('x_', '_y'))
"""

In [4]:
df1 = pd.DataFrame({'key': ['a', 'b', 'b'],
                    'data1': range(3)})
df1

  key  data1
0   a      0
1   b      1
2   b      2

In [6]:
df2 = pd.DataFrame({'key': ['a', 'b', 'c'],
                    'data2': range(3, 6)})
df2

  key  data2
0   a      3
1   b      4
2   c      5

In [7]:
df3 = pd.DataFrame({'key': ['b', 'c',' d'],
                    'data3': range(6, 9)})
df3

  key  data3
0   b      6
1   c      7
2   d      8

In [8]:
df4 = pd.DataFrame({'key': ['a', 'b', 'c'],
                    'data4': range(9, 12)})
df4

  key  data4
0   a      9
1   b     10
2   c     11

In [9]:
pd.merge(df1, df2)

  key  data1  data2
0   a      0      3
1   b      1      4
2   b      2      4

In [10]:
df1.merge(df2)

  key  data1  data2
0   a      0      3
1   b      1      4
2   b      2      4

In [ ]:
# how=
# 'inner' (default)
# 'outer'
# 'right'
# 'left'

In [ ]:
# inner