In [1]:
import pandas as pd

In [3]:
# a DataFrame is a table
# create datafram using dictionary
pd.DataFrame({'Yes': [50, 21, 38], 'No': [25, 15, 46]})

   Yes  No
0   50  25
1   21  15
2   38  46

In [11]:
# create an array as a list, with each row in a list
# and specify the column names in a list
pd.DataFrame([[50, 25], [21, 16], [38, 46]], columns=['Yes', 'No'])

   Yes  No
0   50  25
1   21  16
2   38  46

In [4]:
# assign values to index in a list
pd.DataFrame({'Yes': [50, 21, 38], 'No': [25, 15, 46]},
            index=['2017', '2018', '2019'])

      Yes  No
2017   50  25
2018   21  15
2019   38  46

In [6]:
# a Series is a sequence of data values, 
# a list
# a single column of DataFrame
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# a Series does not have a column name, but an overall name
pd.Series([30, 45, 60], 
          index=['2015 Sale', '2016 Sale', '2017 Sale'],
          name='Product A')

2015 Sale    30
2016 Sale    45
2017 Sale    60
Name: Product A, dtype: int64

In [12]:
pd.Series(['4 cups', '1 cup', '2 large', '1 can'],
          index=['Flour', 'Milk', 'Eggs', 'Spam'],
          name='Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
# read from csv file
df = pd.read_csv(' ')
# if there is a column for the index in the csv file, 
# specify an index_col to use it as the index
df = pd.read_csv(' ', index_col=0)
#  Checkthe datafram
df.shape # returns a tuple of (num_rows, num_cols)
df.head()