In [1]:
import pandas as pd

In [3]:
pd.DataFrame({'Yes': [50, 21, 38], 'No': [25, 15, 46]})

   Yes  No
0   50  25
1   21  15
2   38  46

In [4]:
pd.DataFrame({'Yes': [50, 21, 38], 'No': [25, 15, 46]},
            index=['2017', '2018', '2019'])

      Yes  No
2017   50  25
2018   21  15
2019   38  46