In [1]:
import pandas as pd

In [2]:
# read from csv file
df = pd.read_csv('C:/Users/Victiny/Python_Project/Explore_Pandas/data_example/wine.csv')

In [5]:
"""Data Type"""
# dtypes returns the dtype (datatype) of every column
df.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [7]:
# dtype returns the datatpye of a specific column
df['price'].dtype, df['points'].dtype, df.country.dtype
# columns consisting entirely of strings do not get their own type, but instead given the Object type

(dtype('float64'), dtype('int64'), dtype('O'))

In [8]:
# astype() can convert a column of one type into another
df['points'].astype('float64')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

In [20]:
df['points'].astype('str')

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

In [9]:
# index has its own dtype
df.index.dtype

dtype('int64')

In [14]:
"""Missing Data"""
# Entries missing values are given the value NaN
df[pd.isnull(df['country'])].head()
df[df['country'].isnull()].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking
9509,NaN,This mouthwatering blend starts with a nose of...,Theopetra Malagouzia-Assyrtiko,92,28.0,NaN,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsililis 2015 Theopetra Malagouzia-Assyrtiko W...,White Blend,Tsililis
9750,NaN,This orange-style wine has a cloudy yellow-gol...,Orange Nikolaevo Vineyard,89,28.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Ross-idi 2015 Orange Nikolaevo Vineyard Chardo...,Chardonnay,Ross-idi

In [23]:
# how many reviews are missing a price?
df['price'].isnull().sum()
# or
len(df[df['price'].isnull()])

8996

In [15]:
# replacing missing values is a common operation
# fillna() provides a few different strategies
df['region_2'].fillna('Unknown')

0                   Unknown
1                   Unknown
2         Willamette Valley
3                   Unknown
4         Willamette Valley
                ...
129966              Unknown
129967         Oregon Other
129968              Unknown
129969              Unknown
129970              Unknown
Name: region_2, Length: 129971, dtype: object

In [27]:
# fill NaN with Unkown and count
df['region_1'].fillna('Unknown').value_counts().sort_values(ascending=False)

Unknown                           21247
Napa Valley                        4480
Columbia Valley (WA)               4124
Russian River Valley               3091
California                         2629
                                  ...
Rosso di Cerignola                    1
Currency Creek                        1
Gutturnio Classico Superiore          1
Sonoma-Napa-Lake                      1
Côtes du Roussillon Les Aspres        1
Name: region_1, Length: 1230, dtype: int64

In [16]:
# replace(old value, new value)
df['taster_twitter_handle'].replace('@kerinokeefe', '@kerino')

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object