In [3]:
import pandas as pd

In [4]:
# read from csv file
df = pd.read_csv('C:/Users/Victiny/Python_Project/Explore_Pandas/data_example/wine.csv')

In [8]:
"""Smmary functions"""
df['points'].describe()
df['points'].mean()
# to see a list of unique values
df['points'].unique()
# to see a list of unique values and how often they occur in the dataset
df['points'].value_counts()

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [14]:
# find the index of the max 
idx = (df['points']/df['price']).idxmax()
# find the title from the row with max
df.loc[idx, 'title']

'Bandit NV Merlot (California)'

In [15]:
"""Maps"""
# a function that takes one set of values
# and "maps" them to another set of values

points_mean = df['points'].mean()
df['points'].map(lambda p: p - points_mean)
# the same as
df['points'] - df['points'].mean()

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [17]:
# create a Series counting how many times each of the words 'tropical' and 'fruity' appears in the 'description' column
n_trop = df['description'].map(lambda desc: 'tropical' in desc).sum()
n_frui = df['description'].map(lambda desc: 'fruity' in desc).sum()
descriptor_counts = pd.Series([n_trop, n_frui], index=['tropical', 'fruity'])
descriptor_counts

tropical    3607
fruity      9090
dtype: int64

In [20]:
def remean_points(row):
    row['points'] = row['points'] - points_mean
    return row

df.apply(remean_points, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,-1.447138,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,-1.447138,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,-1.447138,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [21]:
def rate(row):
    if row['country'] == 'Canada':
        return 3
    if row['points'] >= 95:
        return 3
    if row['points'] >= 85:
        return 2
    else:
        return 1
    
df.apply(rate, axis='columns')

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [ ]:
# axis='coulmns' to transform each row
# axis='index' to transform each column

In [ ]:
"""map() and apply()return new, transformed Series and DataFrames, they don't modify the original data"""

In [24]:
# operators are faster than map() and apply()
df['country'] + '-' + df['region_1']

0                     Italy-Etna
1                            NaN
2           US-Willamette Valley
3         US-Lake Michigan Shore
4           US-Willamette Valley
                   ...
129966                       NaN
129967                 US-Oregon
129968             France-Alsace
129969             France-Alsace
129970             France-Alsace
Length: 129971, dtype: object